*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
.bold-text {
    font-weight: 700;
}

h1,
.h1-style {
    font-size: 3rem;
}

h2,
.h2-style {
    font-size: 2rem;
}

h3,
.h3-style {
    font-size: 1.5rem;
}

html {
    font-size: var(--rem);
    background: var(--primary-background-gradient-color-2);
    background: -webkit-linear-gradient(to right, var(--primary-background-gradient-color-1), var(--primary-background-gradient-color-2));
    background: linear-gradient(to right, var(--primary-background-gradient-color-1), var(--primary-background-gradient-color-2));
}

body {
    min-height: 100vh;
    color: var(--pv-primary-color);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: .3s ease;
    transition-property: background-color, color;
}

#app {
    width: 100%;
    height: 100%;
}

header {
    max-width: var(--max-width);
    margin: auto;
    margin-block: 1rem;
    padding-inline: 2rem;
}

main {
    max-width: var(--max-width);
    margin: auto;
    padding-inline: 2rem;
}

.card {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    backdrop-filter: blur(5px);
    /* background-color: var(--pv-surface-800); */
    border: 1px solid var(--border-color);
    background-color: var(--card-background-color);
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}