*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
.h1-style {
    font-size: 3rem;
    font-weight: 700;
}

h2,
.h2-style {
    font-size: 2rem;
    font-weight: 700;
}

h3,
.h3-style {
    font-size: 1.5rem;
    font-weight: 400;
}

h4,
.h4-style {
    font-size: 1.25rem;
    font-weight: 400;
}

.small-text {
    font-size: 0.875rem;
}

.bold-text {
    font-weight: 700;
}

html {
    min-width: 300px;
    font-size: var(--rem);
    background: var(--primary-background-gradient-color-2);
    background: -webkit-linear-gradient(to right, var(--primary-background-gradient-color-1), var(--primary-background-gradient-color-2));
    background: linear-gradient(to right, var(--primary-background-gradient-color-1), var(--primary-background-gradient-color-2));
}

body {
    min-height: 100vh;
    color: var(--pv-primary-color);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: .3s ease;
    transition-property: background-color, color;
}

#app {
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid transparent;
    transition: .3s ease-in-out;
    transition-property: background-color, border-color, backdrop-filter;
    z-index: 10;
}

.header-wrapper {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 1.5rem;
}

.header-on-scroll {
    background-color: var(--card-background-color);
    border-color: var(--secondary-text-color);
    backdrop-filter: blur(8px);
}

main {
    max-width: var(--max-width);
    margin: auto;
    margin-top: 1rem;
    padding-inline: 1.5rem;
}

.card {
    width: 100%;
    border-radius: 0.75rem;
    /* background-color: var(--pv-surface-800); */
    background-color: var(--card-background-color);
    /* backdrop-filter: blur(5px); */
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.card-label {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    color: var(--secondary-text-color);
}

.card-bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 1rem;
}

.secondary-text-color {
    color: var(--secondary-text-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.gap-small {
    gap: .25rem;
}

.gap {
    gap: .5rem;
}

.gap-large {
    gap: 1rem;
}

.ul-list {
    li {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        gap: .25rem;
    }
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}